#calibrate{
  width: 100%;
  height: 100%;
}

#calibrate:hover{
  cursor: crosshair;
}

#calibrate-sub{
  padding-left: 350px;
  padding-right: 10%;
  padding-top: 10%;
  color: grey;
}

button{
  font-size: 16;
  color: grey;
  margin-left: 500px;
}

a-scene:hover{
  cursor: crosshair;
}
